<%= simple_form_for @source do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :name %>
    </div>
    <div class="col-md-3">
      <%= f.input :country_id %>
    </div>
    <div class="col-md-3">
      <%= f.input :image, as: :string %>
    </div>
    <div class="col-md-3">
      <%= f.input :url %>
    </div>
  </div>
  <%= f.button :submit, 'Enregistrer' %>
<% end %>
