<% content_for :title, "#{@source}" %>
<div class="source">
  <header>
    <h1><%= @source %></h1>
    <%= link_to 'Edit', edit_source_path(@source) %>
    <%= link_to 'Destroy', @source, method: :delete, data: { confirm: 'Are you sure?' } %>
  </header>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag @source.image, class: 'img-fluid img-fill' unless @source.image.nil? %>
      <p class="small mt-4"><%= link_to @source.url, @source.url, target: :_blank %></p>
    </div>
    <div class="offset-md-1 col-md-9">
      <div class="articles">
        <div class="card-columns">
          <%= render @source.articles %>
        </div>
      </div>
    </div>
  </div>
</div>
