<article class="card article">
  <%= link_to article do %>
    <% unless article.analysis.blank? %>
      <p class="article__analysis">
        <%= article.analysis %>
      </p>
    <% end %>
    <%= image_tag article.image, class: 'img-fluid img-fill article__image' %>
    <h1 class="article__title"><%= article %></h1>
    <p class="article__source">
      <%= link_to article.source, article.source %>
    </p>
    <ul class="article__themes list-unstyled">
      <% article.themes.each do |theme| %>
        <li><%= link_to theme, theme %></li>
      <% end %>
    </ul>
  <% end %>
</article>
