<article class="card articles__article">
  <%= link_to article do %>
    <% unless article.analysis.blank? %>
      <blockquote class="article__analysis"><%= article.analysis %></blockquote>
    <% end %>
    <%= image_tag article.image, class: 'img-fluid img-fill article__image' %>
    <h1 class="article__title"><%= article %></h1>
    <p class="article__source">
      <%= link_to article.source, article.source %>
    </p>
    <%= render 'themes/tags', article: article %>
  <% end %>
</article>
