<%= simple_form_for Article.new do |f| %>
  <div class="row">
    <div class="col-md-11">
      <%= f.input :url, as: :string, placeholder: 'URL', label: false %>
    </div>
    <div class="col-md-1">
      <%= f.button :submit, 'Enregistrer', class: 'btn-block' %>
    </div>
  </div>
<% end %>

<div class="row">
  <% @articles.each do |article| %>
    <div class="col-md-2 ">
      <div class="articles__article">
        <%= link_to article do %>
          <td><%= image_tag article.image, class: 'img-fluid' %></td>
          <h2><%= article %></h2>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
