<% content_for :title, "#{@article}" %>
<div class="row">
  <div class="offset-md-2 col-md-3">
    <%= image_tag @article.image, class: 'img-fluid img-fill' %>
    <p class="text-right mt-4"><%= link_to @article.source, @article.source %></p>
  </div>
  <div class="col-md-5">
    <h1><%= @article %></h1>
    <%= simple_format @article.text %>
    <hr>
    <p class="mt-2"><%= link_to 'Original article', @article.url, target: :_blank %></p>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
