<% content_for :title, "#{@article}" %>

<div class="article">
  <% unless @article.analysis.blank? %>
    <header>
      <blockquote class="article__analysis"><%= @article.analysis %></blockquote>
    </header>
  <% end %>
  <div class="row">
    <div class="offset-md-2 col-md-3 article__meta">
      <%= image_tag @article.image, class: 'img-fluid img-fill' %>
      <h2>Date de curation</h2>
      <p><%= l @article.created_at.to_date %></p>
      <h2>Source</h2>
      <p><%= link_to @article.source, @article.source %></p>
      <% if @article.source.country %>
        <h2>Pays</h2>
        <p><%= link_to @article.source.country, country_path(@article.source.country.id) %></p>
      <% end %>
      <% if @article.themes.any? %>
        <h2>Thèmes</h2>
        <%= render 'themes/tags', article: @article %>
      <% end %>
    </div>
    <div class="offset-md-1 col-md-5">
      <h1 class="article__title"><%= @article %></h1>
      <div class="article__imported_text">
        <%= simple_format @article.text %>
      </div>
      <%= link_to 'Lire l\'article',
                  @article.url,
                  target: :_blank,
                  class: 'btn btn-light btn-sm mt-4' %>
    </div>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
