<% content_for :title, "#{@theme}" %>

<div class="theme">
  <header>
    <h1><%= @theme %></h1>
    <%= link_to 'Modifier',
                edit_theme_path(@theme),
                class: 'btn btn-light btn-sm' if can? :edit, @theme %>
    <%= link_to 'Supprimer',
                @theme,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-light btn-sm' if can? :delete, @theme %>
  </header>
  <div class="articles">
    <div class="row justify-content-between">
      <%= render @articles %>
    </div>
    <%= paginate @articles, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
