<%= simple_form_for(@letter) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-3">
      <%= f.input :starting_at, html5: true %>
    </div>
    <div class="col-md-3">
      <%= f.input :ending_at, html5: true %>
    </div>
  </div>
  <%= f.button :submit, 'Enregistrer' %>
<% end %>
