<% content_for :title, "#{@theme}" %>
<div class="letter">
  <header>
    <h1><%= @letter %></h1>
    <p><%= @letter.dates %></p>
    <%= link_to 'Edit', edit_letter_path(@letter) %>
    <%= link_to 'Destroy', @letter, method: :delete, data: { confirm: 'Are you sure?' } %>
  </header>
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <% @letter.themes.each do |theme| %>
        <div style="margin-bottom: 45px">
          <h2><%= theme %></h2>
          <% @letter.articles.for_theme(theme).each do |article| %>
            <div style="margin-bottom: 30px">
              <p style="margin-bottom: 0"><%= article.analysis %></p>
              <table>
                <tr>
                  <td style="vertical-align: top;"><%= image_tag article.image, width: 60 %></td>
                  <td style="font-size: 12px; vertical-align: top; padding-left: 10px">
                    <%= article.source.country_name %> |
                    <%= link_to article.source, article.source.url, target: :_blank %> |
                    <%= link_to article.url, article.url, target: :_blank %>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
