<p id="notice"><%= notice %></p>

<p>
  <strong>Starting at:</strong>
  <%= @letter.starting_at %>
</p>

<p>
  <strong>Ending at:</strong>
  <%= @letter.ending_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @letter.title %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
