<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-12 text-md-left text-center mb-5">
        <%= link_to root_path do %>
          <%= image_tag 'favicon-white.png', class: 'icon' %>
        <% end %>
      </div>
      <div class="offset-md-4 col-md-1 col-4">
        <%= image_tag 'patriciaroche.jpg', class: 'img-fluid rounded-circle' %>
      </div>
      <div class="col-md-4 col-8">
        <p class="description">
          La veille média internationale de l'écologie. “Velloa” est un mot finnois qui signifie “mouvement de l'eau et des vagues”. 
        </p>
        <p class="author">
          Un projet porté par <a href="https://patriciaroche.fr" target="_blank">Patricia Roche</a>
        </p>
        <% unless current_user %>
          <%= link_to new_user_session_path do %>
            <%= image_tag 'favicon-white.png', style: 'height: 16px; opacity: 0.2' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
