<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : 'Velloa' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.svg', alt: 'Velloa' %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to 'Accueil', root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Articles', articles_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Sources', sources_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Themes', themes_path, class: 'nav-link' %></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1">
            <%= link_to root_path do %>
              <%= image_tag 'favicon-white.png', class: 'icon' %>
            <% end %>
          </div>
          <div class="offset-md-4 col-md-1">
            <%= image_tag 'patriciaroche.jpg', class: 'img-fluid rounded-circle' %>
          </div>
          <div class="col-md-4">
            <p class="description">
              En finnois, “velloa” signifie mouvement de l'eau et des vagues. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non posuere sem. Vestibulum purus elit, iaculis sit amet scelerisque quis, mollis gravida sem. Proin varius, ipsum a condimentum vulputate, justo mi euismod mauris, sit amet sodales est felis non nisi. Sed venenatis efficitur rutrum. Nullam blandit egestas lorem a mollis.
            </p>
            <p class="author">
              Un projet porté par <a href="https://patriciaroche.fr" target="_blank">Patricia Roche</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
