<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Velloa' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <nav>
      <%= link_to root_path do %>
        <%= image_tag 'logo.svg', alt: 'Velloa' %>
      <% end %>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
