<!DOCTYPE html>
<html>
  <head>
    <title>Velloa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= image_tag 'logo.svg', alt: 'Velloa' %>
    <%= yield %>
  </body>
</html>
